
.album {
  // .album__body
  &__body {


  }
  &__row{
    display: flex;
  }
  // .album__img
  &__img {

      picture,
        source,
        img{
        max-width: 100%;
        width: 100%;
        object-fit: contain;
      }

  }
}