
.note {
  // .note__body
  &__body {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    row-gap: clamp(20px,3.47vw,50px);
    column-gap: clamp(20px,10.47vw,140px);
    max-width: 740px;
    margin-inline:auto ;
    &_big{
      max-width: 1440px;
      justify-content: space-between;
      row-gap: clamp(20px,3.47vw,66px);
    }
  }

  // .note__card
  &__card {

  }
}


.note-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  // .note-card__sign
  &__sign {
    align-self: start;
  }
}
