.services-sec {



  // .services-sec__header
  &__header {
    margin: auto;
    max-width: 900px;
    width: 100%;
    gap: 25px;
  }

  // .services-sec__body
  &__body {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat(6,1fr);
    @include media-phones480max{
      display: flex;
      flex-direction: column;
    }
  }

  // .services-sec__card
  &__card {
    grid-column: span 2;
    &:first-child,&:nth-child(2){
      grid-column: span 3;
    }
    //@include media-desktop768min979max{
    //  grid-column: span 3;
    //  &:first-child,&:nth-child(2){
    //    grid-column: span 3;
    //  }
    //}
    //@include media-portrait767max{
    //  grid-column:  1;
    //  &:first-child,&:nth-child(2){
    //    grid-column:   1;
    //  }
    //}

    &_big{
    grid-column: span 6;
      //@include media-desktop768min979max{
      //  grid-column: span 3;
      //  &:first-child,&:nth-child(2){
      //    grid-column: span 3;
      //  }
      //}
      //@include media-portrait767max{
      //  grid-column:  1;
      //  &:first-child,&:nth-child(2){
      //    grid-column:   1;
      //  }
      //}

    }
  }
}