<section class="section second-container  about-company-sec">
    <div class="section__header text-area about-company-sec__header">
        <h1 class="text-area__head block-text__head text_700">
            О компании
        </h1>
        <p class="text-area__paragraph text_300">
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Alias aspernatur beatae,
            deleniti et iste quod quos sint.
        </p>

    </div>
    <div class="section__body about-company-sec__img">
        <img src="@@webRoot/static/img/fon-about-company.png" alt="background about company ">
    </div>
</section>