<section class="second-container section album">
  <div class="section__body album__body">
    <div class="album__row">
      <div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 1.png" width="368" height="246" loading="lazy">
        </div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 4.png" width="368" height="246" loading="lazy">
        </div>
      </div>
      <div class="album__img">
        <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 5.png" width="368" height="246" loading="lazy">
      </div>
      <div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 6.png" width="368" height="246" loading="lazy">
        </div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 7.png" width="368" height="246" loading="lazy">
        </div>
      </div>
    </div>
    <div class="album__row">
      <div class="album__img">
        <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 8.png" width="368" height="246" loading="lazy">
      </div>
      <div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 9.png" width="368" height="246" loading="lazy">
        </div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 10.png" width="368" height="246" loading="lazy">
        </div>
      </div>
      <div class="album__img">
        <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 11.png" width="368" height="246" loading="lazy">
      </div>
    </div>


  </div>
</section>