<section class="second-container section album">
  <div class="section__body album__body">
    <div class="album__row">
      <div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 1.png">
        </div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 4.png">
        </div>
      </div>
      <div class="album__img">
        <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 5.png">
      </div>
      <div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 6.png">
        </div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 7.png">
        </div>
      </div>
    </div>
    <div class="album__row">
      <div class="album__img">
        <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 8.png">
      </div>
      <div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 9.png">
        </div>
        <div class="album__img">
          <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 10.png">
        </div>
      </div>
      <div class="album__img">
        <img src="@@webRoot/static/img/gorenje_life_simplified_hood_blowing_windshield 11.png">
      </div>
    </div>


  </div>
</section>