<footer class="footer  text_700">
    <article class="footer__column text-area">
        <a href="/" class="footer__link">
            <img src="@@webRoot/static/img/footer-main-icon.svg" alt="" loading="lazy">
        </a>
        <nav class="footer__nav">
            <ul class="footer__ul">
                <li class="footer__li">
                    <a class="footer__link" href="#">
                        ООО «»
                    </a>
                </li>
            </ul>
        </nav>
    </article>
    <article class="footer__column text-area">
        <nav class="footer__nav">
            <p class="text_upper ">
                lorem
            </p>
            <ul class="footer__ul">
                <li class="footer__li">
                    <a href="#" class="footer__link">
                        lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__link">
                        lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__link">
                        lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__link">
                        Lorem ipsum.
                    </a>
                </li>
            </ul>
        </nav>
    </article>
    <article class="footer__column  text-area footer__column_big">
        <nav class="footer__nav">
            <p class="text_upper">
                Lorem
            </p>
            <ul class="footer__ul">
                <li class="footer__li">
                    <a href="@@webRoot/card-service.html" class="footer__link">
                        Lorem Lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="@@webRoot/card-service.html" class="footer__link">
                        Lorem Lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="@@webRoot/card-service.html" class="footer__link">
                        Lorem Lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="@@webRoot/card-service.html" class="footer__link">
                        Lorem Lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="@@webRoot/card-service.html" class="footer__link">
                        Lorem Lorem
                    </a>
                </li>
                <li class="footer__li">
                    <a href="@@webRoot/card-service.html" class="footer__link">
                        Lorem Lorem
                    </a>
                </li>
            </ul>
        </nav>
    </article>
    <article class="footer__column text-area">
        <address class="footer__nav">
            <ul class="footer__ul footer__address">
                <li class="  text_700 text_upper"> 8 800 000 00 00 </li>
                <li class="  text_700"> xopowen@gmail.com</li>
                <li class="  text_700"> 8 800 000 00 00 </li>
                <li class="footer__what-app  ">
                    <img class=" " src="@@webRoot/static/img/icons/ic_round-email.svg" loading="lazy">
                    <p class="  text_700" >WhatsApp</p>
                </li>
                <li class="footer__li">
                    Lorem,<br>
                    Lorem,<br>
                    Lorem</li>
                <li class="footer__li communication__over-text">
                    Lorem ipsum dolor.
                </li>
            </ul>
        </address>
    </article>
</footer>
