<header class="header">
    <nav class="header__nav nav">
        <ul class="nav__left-list text_700">
            <li class="nav__link"><a href="@@webRoot/about-company.html">О компании</a></li>
            <li class="nav__link"><a href="@@webRoot/services.html">Услуги</a></li>
            <li class="nav__link"><a href="@@webRoot/contacts.html">Контакты</a></li>
        </ul>
        <a href="/" class="nav__main-link-icon">
            @@if (mainPage){
                <img src="@@webRoot/static/img/icons/main-icon.svg"  width="255" height="81" alt="Леон">
            }
            @@if (mainPage === false){
                <img src="@@webRoot/static/img/icons/logo-leon.svg"  width="255" height="81" alt="Леон">
            }

        </a>
        <ul class="nav__right-list">
            <li class="nav__link">
                <div class="nav__btn btn communication btn_not-background ">
                    <img class="communication__icon" src="@@webRoot/static/img/icons/solar_phone-bold.svg" width="27" height="27" loading="lazy" alt="phone">
                    <p class="communication__over-text text_700 text_upper">8 800 000 00 00</p>
                    <p class="communication__under-text text_400">Lorem ipsum</p>
                </div>
            </li>
            <li class="nav__link">
                <a href="#">
                    <div class="nav__btn btn  btn_not-background communication">
                        <img class="communication__icon" src="@@webRoot/static/img/icons/ic_round-email.svg" width="27" height="27" loading="lazy" alt="viber">
                        <p class="communication__over-text text_700" >WhatsApp</p>
                        <p class="communication__under-text text_400">Lorem ipsum</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>