<section class="second-container section main-number">
    <div class="section__body text-area text-area_center main-number__header">
        <h2 class="text-area__head text_700">
            Lorem ipsum dolor sit
        </h2>
    </div>
    <div class="section__body main-number__body">
        <article class="main-number__mark text-area mark">
            <h3 class="text-area__head mark__head">
                2008
            </h3>
            <p class="text-area__paragraph mark_p">
               Lorem ipsum dolor sit amet
            </p>
        </article>
        <article class="main-number__mark text-area mark">
            <h3 class="text-area__head mark__head">
                >80
            </h3>
            <p class="text-area__paragraph mark_p">
               Lorem ipsum dolor
            </p>
        </article>
        <article class="main-number__mark text-area mark">
            <h3 class="text-area__head mark__head">
                >50
            </h3>
            <p class="text-area__paragraph mark_p">
                Lorem ipsum dolor sit amet
            </p>
        </article>
        <article class="main-number__mark text-area mark">
            <h3 class="text-area__head mark__head">
                >1 000
            </h3>
            <p class="text-area__paragraph mark_p">
                Lorem ipsum dolor sit amet, consectetur
            </p>
        </article>
    </div>
</section>