<section class="section-main">
    <section class="section-main__left  section_blur-b round-20">
        <article class=" section-main__text-area text-area">
            <p class="text-area__over-text text_700">Lorem ipsum.</p>
            <h1 class="text-area__head text_700">
               Lorem ipsum dolor sit amet, consectetur.
            </h1>
            <p class="text-area__paragraph">
                Lorem ipsum dolor sit amet, consectetur. <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p>
        </article>
        <div class="btn-list">
            @@include('buttons/button-not-background.html',{
            svg:'static/img/icons/solar_phone-bold.svg',
            text:'Lorem ipsum.'})
            @@include('buttons/button-black.html',{
            svg:'static/img/icons/arrow-right.svg',
            text:'Lorem ipsum.'})
        </div>
    </section>
    <section class="section-main__right  container-img">
        <img class="round-20" src="@@webRoot/static/img/img_1.png" rel="preload" loading="eager" width="482" height="340" alt='lorem'>
        <img class="round-20" src="@@webRoot/static/img/snapshot-screen.png" rel="preload" loading="eager" width="482" height="340" alt="lorem">
    </section>
</section>