<section class="section second-container text-area text-area_center map-sec">
    <div class="section__header  map-sec__header">
        <p class="text-area__over-text text_700 text_upper">
            lorem
        </p>
        <h2 class="text-area__head text_700">
            Lorem ipsum.
        </h2>
        <p class="text-area__paragraph text_300">
            Lorem ipsum dolor sit amet.
        </p>
    </div>
    <div id="map" class="section__body map-sec__body" >

    </div>


</section>