<section class='section second-container note'>
    <div class="text-area text-area_center text_700">
        <h2 class="text-area__head text_700">
            Lorem ipsum dolor sit amet, consectetur. <br/>
            Lorem ipsum dolor.
        </h2>
    </div>
    <div class="section__body note__body">
        <article class="note__card note-card text-area">

                <button class="btn btn_arrow  btn_black-background round-circle note-card__sign">
                    !
                </button>
            <p class="text_300 text-area__paragraph">
                lorem / Lorem ipsum.
            </p>
        </article>
        <article class="note__card note-card text-area">

            <button class="btn btn_arrow  btn_black-background round-circle note-card__sign">
                !
            </button>
            <p class="text_300 text-area__paragraph">
                Lorem ipsum dolor sit amet, consectetur.
            </p>
        </article>
        <article class="note__card note-card text-area">

            <button class="btn btn_arrow  btn_black-background round-circle note-card__sign">
                !
            </button>
            <p class="text_300 text-area__paragraph">
                Lorem ipsum dolor.
            </p>
        </article>
        <article class="note__card note-card text-area">
            <button class="btn btn_arrow  btn_black-background round-circle note-card__sign">
                !
            </button>
            <p class="text_300 text-area__paragraph">
                Lorem ipsum dolor.
            </p>
        </article>
    </div>
</section>