<section class="section  section_gray round-20 order-serves">
    <div class="section__header text-area text-area_center order-serves__header">
        <h2 class="text-area__head text_700">
            Lorem ipsum dolor.
        </h2>
    </div>
    <div class="section__body btn-list btn-list_center order-serves__body">
        <a href="#" class="btn btn_main btn_black-background round-32 btn__text text_300">
            Lorem ipsum
            <img class="btn__icon" width="27" height="27" loading="lazy" style="background: white" src='@@webRoot/static/img/icons/profile-icon.svg' alt="">

        </a>
        <a href="#" class="btn btn_main btn_black-background round-32 btn__text text_300">
            Lorem ipsum
            <img style="background: white" src="@@webRoot/static/img/icons/solar_phone-bold.svg" width="27" height="27" loading="lazy" alt=""/>

        </a>
        <a href="#" class="btn btn_main btn_black-background round-32 btn__text text_300">
            Lorem ipsum
            <img  src="@@webRoot/static/img/icons/arrow-right.svg" width="27" height="27" loading="lazy" alt=""/>
        </a>

    </div>
    <div class="section__footer text-area text-area_center order-serves__footer">
        <p class="text-area__paragraph text_300">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi earum molestias quia tempore.
        </p>
    </div>
</section>
