<section class="section  section_gray round-20 order-serves">
    <div class="section__header text-area text-area_center order-serves__header">
        <h2 class="text-area__head text_700">
            Lorem ipsum dolor.
        </h2>
    </div>
    <div class="section__body btn-list btn-list_center order-serves__body">
        <a href="#">
            @@include('buttons/button-not-background.html',{
            svg:'static/img/icons/profile-icon.svg',
            text:'Lorem ipsum'})
        </a>
        <a href="#">
            @@include('buttons/button-not-background.html',{
            svg:'static/img/icons/solar_phone-bold.svg',
            text:'Lorem ipsum'})
        </a>
        <a href="#">
            @@include('buttons/button-black.html',{
            svg:'static/img/icons/arrow-right.svg',
            text:'Lorem ipsum'})
        </a>

    </div>
    <div class="section__footer text-area text-area_center order-serves__footer">
        <p class="text-area__paragraph text_300">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi earum molestias quia tempore.
        </p>
    </div>
</section>
