<section class="section second-container our-tech">
    <div class="section__header text-area our-tech__header">
        <h2 class="text-area__head text_700">
            Lorem ipsum
        </h2>
        <p class="text-area__paragraph text-area__paragraph_big text_700 ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam natus vel voluptate.
        </p>
    </div>
    <div class="section__body   section__body_two-с our-tech__body">
        <article class=" block-text__text-area text-area">
            <h3 class=" our-tech__card-head text-area__head text-area__head_card text_700">
                Lorem ipsum.
            </h3>
            <ul class="text-area__paragraph text_300 our-tech__ul">
                <li>lorem</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </article>
        <article class=" block-text__text-area text-area">
            <h3 class="our-tech__card-head text-area__head text-area__head_card text_700">
                Lorem ipsum
            </h3>
            <ul class="text-area__paragraph text_300 our-tech__ul">
                <li> lorem</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li> Lorem ipsum dolor</li>
                <li> Lorem ipsum dolor</li>
                <li> Lorem ipsum dolor sit</li>
            </ul>
        </article>
        <article class=" block-text__text-area text-area">
            <h3 class="our-tech__card-head text-area__head text-area__head_card text_700">
                Lorem ipsum
            </h3>
            <ul class="text-area__paragraph text_300 our-tech__ul">
                <li> lorem</li>
                <li> Lorem ipsum dolor sit amet</li>
                <li> Lorem ipsum dolor</li>
                <li> Lorem ipsum dolor</li>
                <li> Lorem ipsum dolor sit</li>
            </ul>
        </article>
        <article class=" block-text__text-area text-area">
            <h3 class="our-tech__card-head text-area__head text-area__head_card text_700">
                SITRAK (Juterborg)
            </h3>
            <ul class="text-area__paragraph text_300 our-tech__ul">
                <li> lorem</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li> Lorem ipsum dolor</li>
                <li> Lorem ipsum dolor</li>
                <li> Lorem ipsum dolor sit</li>
            </ul>
        </article>
    </div>
</section>