<section class="second-container section protect-drivel">
    <div class="section__header text-area text-area_center text_700">
        <h2 class="text-area__head text_700">
            Lorem ipsum
        </h2>
    </div>
    <div class="section__body protect-drivel__body">
        <article class="protect-drivel__card protect-drivel-card round-20 section_gray">
            <h3 class="protect-drivel-card__head text_700 text-area__head text-area__head_card">
                Lorem ipsum dolor
            </h3>
            <div class="protect-drivel-card__img">
                <img src="@@webRoot/static/img/image%206738.png" height="140" width="200" loading="lazy" alt=" ">
            </div>
        </article>
        <article class="protect-drivel__card protect-drivel-card round-20 section_gray">
            <h3 class="protect-drivel-card__head text_700 text-area__head text-area__head_card">
                Lorem ipsum.
            </h3>
            <div class="protect-drivel-card__img">
                <img src="@@webRoot/static/img/image%206739.png" height="140" width="200" loading="lazy" alt=" ">
            </div>
        </article>

        <article class="protect-drivel__card protect-drivel-card round-20 section_gray">
            <h3 class="protect-drivel-card__head text_700 text-area__head text-area__head_card">
               Lorem ipsum dolor
            </h3>
            <div class="protect-drivel-card__img">
                <img src="@@webRoot/static/img/image%206740.png" height="140" width="200" loading="lazy" alt=" ">
            </div>
        </article>

        <article class="protect-drivel__card protect-drivel-card round-20 section_gray">
            <h3 class="protect-drivel-card__head text_700 text-area__head text-area__head_card">
                Lorem ipsum dolor sit amet, consectetur
            </h3>
            <div class="protect-drivel-card__img">
                <img src="@@webRoot/static/img/image%206741.png"  height="140" width="200" loading="lazy"  alt=" ">
            </div>
        </article>

        <article class="protect-drivel__card protect-drivel-card round-20 section_gray">
            <h3 class="protect-drivel-card__head text_700 text-area__head text-area__head_card">
                Lorem ipsum dolor sit amet, consectetur.
                <div class="protect-drivel-card__img">
                    <img src="@@webRoot/static/img/image%206742.png" height="140" width="200" loading="lazy" alt=" ">
                </div>
            </h3>

        </article>
    </div>
</section>