<section class="section  second-container">

    <div class="section__body section__body_two-с">
        <section class="block-text">
            <article class="block-text__text-area text-area">
                <p class="text-area__over-text text_700 text_upper">Lorem</p>
                <h2 class="block-text__head text_700 text-area__head">
                    Lorem ipsum dolor sit amet, consectetur.
                </h2>

                <p  class="text-area__paragraph">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aspernatur beatae cupiditate, eos eum illo iusto maxime nam, nemo nihil odio omnis quaerat quibusdam repellat rerum temporibus veritatis voluptas voluptatibus.</p>
                <p  class="text-area__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae iste labore maxime odio sed, vitae? Eligendi explicabo facilis id illo labore nisi, placeat quam rem repellendus, veniam voluptas, voluptatibus!
                </p>
                <p  class="text-area__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis consectetur, delectus eius eum harum magnam, maiores minima necessitatibus nulla odio, rem saepe sed similique tempora velit voluptas voluptates voluptatibus!
                </p>
            </article>
            <div class="btn-list">
                @@include('buttons/button-black.html',{
                svg:'static/img/icons/arrow-right.svg',
                text:'Lorem ipsum.'})
            </div>
        </section>
        <section class="card-container">
            <article class="card-about-us text-area text-area_card round-20">
                <h3 class="card-about-us__head  text-area__head text-area__head_card text_400">Lorem ipsum dolor.</h3>
                <p class="card-about-us__paragraph text_300 text-area__paragraph">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi facilis inventore ipsum laudantium odit perferendis quae quaerat qui tempora vero! A architecto doloremque dolorum eligendi, esse laboriosam qui rem. Expedita.
                </p>
               @@include('buttons/button-arrow.html')
            </article>
            <article class="card-about-us text-area text-area_card round-20">
                <h3 class="card-about-us__head  text-area__head text-area__head_card text_400">
                    Lorem ipsum dolor.
                </h3>
                <p class="card-about-us__paragraph text_300 text-area__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, at aut exercitationem molestias porro sequi. A aliquid consequuntur, et, fugit iusto laboriosam, libero maxime nihil quam quod ratione repellat reprehenderit!
                </p>
                @@include('buttons/button-arrow.html')
            </article>
            <article class="card-about-us text-area text-area_card round-20">
                <h3 class="card-about-us__head  text-area__head text-area__head_card text_400">
                  Lorem ipsum dolor.
                </h3>
                <p class="card-about-us__paragraph text_300 text-area__paragraph">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis culpa, dolor, laudantium libero odio quaerat quasi ratione similique veniam voluptas voluptate voluptates voluptatum. Aperiam autem cupiditate deserunt facilis laudantium.
                </p>
                @@include('buttons/button-arrow.html')
            </article>

        </section>
    </div>

</section>