<section class="section text-area text-area_center  us-trust">
    <div class="section__header ">
        <h2 class="text-area__head text_700">
           Lorem ipsum.
        </h2>
    </div>

    <div  class="section__body swiper us-trust__slider text_700 text_upper">
        <div class="swiper-wrapper">
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/gas-company.png" width="203" height="102" loading="lazy" alt="Газпром бурение">
                </div>
            </article>

            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/icons/siberia.svg" width="203" height="102" loading="lazy" alt="Сибирский генеральная компания">
                </div>
            </article>

            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/build-oil-gas.png" width="203" height="102" loading="lazy" alt="Стройтранснефтегаз">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/schlumbberger.svg" width="203" height="102" loading="lazy" alt="schlumberger">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/rena.svg" width="203" height="102" loading="lazy" alt="renaissance">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/пик.png" width="203" height="102" loading="lazy" alt="ПИК">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/мостострой.svg" width="203" height="102" loading="lazy" alt="Мостострой">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/тн.png" width="203" height="102" loading="lazy" alt="тн">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/геотек.png" width="203" height="102" loading="lazy" alt="геотек">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/braer.svg" width="203" height="102" loading="lazy" alt="braer">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/euro-chem.svg" width="203" height="102" loading="lazy" alt="euro-chem">
                </div>
            </article>
            <article class="swiper-slide round-20 section_gray us-trust-card">
                <div class="us-trust-card__img">
                    <img src="@@webRoot/static/img/psn-group.png" width="203" height="102" loading="lazy" alt="psn-group">
                </div>
            </article>
            
        </div>

    </div>
    <div class="swiper-button-prev">
        @@include('buttons/button-arrow.html')
    </div>
    <div class="swiper-button-next">
        @@include('buttons/button-arrow.html')
    </div>

    <div class="section__footer us-trust__footer">
        <p class="text-area__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi et fuga libero numquam rerum unde vel. Ad ducimus fugit minima nisi quos soluta tempora voluptate! Adipisci asperiores consequuntur exercitationem labore.
        </p>
    </div>

</section>
