<section class="second-container section text-area where-we-work">
    <div class="section__header text-area_center where-we-work__header">
        <p class="text-area__over-text text_700 text_upper">
            Lorem ipsum.
        </p>
        <h2  class="text-area__head  ">
            Lorem ipsum dolor sit amet.
        </h2>
        <p class="text_700 text-area__head text-area__head_card">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, repellendus!
        </p>
    </div>

    <div class="section__body where-we-work__body">
        <img src="@@webRoot/static/img/icons/map-icon.svg" width="1110" height="633" loading="lazy" alt="map">
    </div>
</section>