<section class="section second-container who-work-with-us">
    <div class="section__header text-area who-work-with-us__header text-area_center">
        <h2 class="text-area__head text_700 ">
            Lorem ipsum dolor sit.
        </h2>
    </div>
    <div class="section__body who-work-with-us__body">
        <article class="who-work-with-us__card who-work-with-us-card round-20 ">
            <div class="who-work-with-us-card__img">
                <img src="@@webRoot/static/img/img_13.png">
            </div>
            <h3 class=" text-area__head text-area__head_card who-work-with-us-card__head">
                Lorem ipsum
            </h3>
        </article>
        <article class="who-work-with-us__card who-work-with-us-card round-20 ">
            <div class="who-work-with-us-card__img">
                <img src="@@webRoot/static/img/img_14.png">
            </div>
            <h3 class=" text-area__head text-area__head_card who-work-with-us-card__head">
                Lorem ipsum
            </h3>
        </article>
        <article class="who-work-with-us__card who-work-with-us-card round-20 ">
            <div class="who-work-with-us-card__img">
                <img src="@@webRoot/static/img/img_15.png">
            </div>
            <h3 class=" text-area__head text-area__head_card who-work-with-us-card__head">
                Lorem ipsum
            </h3>
        </article>
        <article class="who-work-with-us__card who-work-with-us-card round-20 ">
            <div class="who-work-with-us-card__img">
                <img src="@@webRoot/static/img/img_16.png">
            </div>
            <h3 class=" text-area__head text-area__head_card who-work-with-us-card__head">
                Lorem ipsum
            </h3>
        </article>
        <article class="who-work-with-us__card who-work-with-us-card round-20 ">
            <div class="who-work-with-us-card__img">
                <img src="@@webRoot/static/img/img_17.png">
            </div>
            <h3 class=" text-area__head text-area__head_card who-work-with-us-card__head">
                Lorem ipsum
            </h3>
        </article>
        <article class="who-work-with-us__card who-work-with-us-card round-20 ">
            <div class="who-work-with-us-card__img">
                <img src="@@webRoot/static/img/img_18.png">
            </div>
            <h3 class=" text-area__head text-area__head_card who-work-with-us-card__head">
                Lorem ipsum
            </h3>
        </article>
    </div>
</section>