<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="title" content="Cайт демонстрации навыков.">
<meta name="description" content="Необходим для показа навыков.">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content='project of learn, xopowen'>

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="Cайт демонстрации навыков.">
<meta property="og:url" content="https://xopowen.github.io/layout_of_the_transportation_website/build/">
<meta property="og:image" content="/static/img/icons/logo-leon.svg">
<meta property="og:description" content="Cайт демонстрации навыков - Необходим для показа навыков.">
<meta property="og:site_name" content="Показывает навыки вёрски xopowen">
<meta property="og:locale" content="ru_RU" />
<meta property="article:author" content="Cайт демонстрации навыков." />
<meta property="article:section" content="website" />
<meta property="article:tag" content="website" />

<!-- twitter -->
<meta name="twitter:card" content="Показывает навыки вёрски xopowen"/>
<meta name="twitter:site" content="Xopowen"/>
<meta name="twitter:title" content="Cайт демонстрации навыков.">
<meta name="twitter:description"  content="Cайт демонстрации навыков - Необходим для показа навыков."/>
<meta name="twitter:creator" content="https://github.com/xopowen"/>
<meta name="twitter:image:src" content="/static/img/icons/logo-leon.svg"/>
<meta name="twitter:domain"  content="https://xopowen.github.io"/>
<meta name="content-language" content="ru" />