@font-face {
	font-family: 'Museosanscyrl300';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("../font/MuseoSansCyrl300.eot"),
	url("../font/MuseoSansCyrl300.ttf") format("truetype"),
	url("../font/MuseoSansCyrl300.svg") format("svg"),
	url("../font/MuseoSansCyrl300.eot") format("embedded-opentype"),
	url("../font/MuseoSansCyrl300.woff2") format("woff2"),
	url("../font/MuseoSansCyrl300.woff") format("woff");
}
@font-face {
	font-family: 'Museosanscyrl300italic';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("../font/MuseoSansCyrl300Italic.eot"),
	url("../font/MuseoSansCyrl300Italic.ttf") format("truetype"),
	url("../font/MuseoSansCyrl300Italic.svg") format("svg"),
	url("../font/MuseoSansCyrl300Italic.eot") format("embedded-opentype"),
	url("../font/MuseoSansCyrl300Italic.woff2") format("woff2"),
	url("../font/MuseoSansCyrl300Italic.woff") format("woff");
}
@font-face {
	font-family: 'Museosanscyrl500';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/MuseoSansCyrl500.eot"),
	url("../font/MuseoSansCyrl500.ttf") format("truetype"),
	url("../font/MuseoSansCyrl500.svg") format("svg"),
	url("../font/MuseoSansCyrl500.eot") format("embedded-opentype"),
	url("../font/MuseoSansCyrl500.woff2") format("woff2"),
	url("../font/MuseoSansCyrl500.woff") format("woff");
}
@font-face {
	font-family: 'Museosanscyrl500italic';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/MuseoSansCyrl500Italic.eot"),
	url("../font/MuseoSansCyrl500Italic.ttf") format("truetype"),
	url("../font/MuseoSansCyrl500Italic.svg") format("svg"),
	url("../font/MuseoSansCyrl500Italic.eot") format("embedded-opentype"),
	url("../font/MuseoSansCyrl500Italic.woff2") format("woff2"),
	url("../font/MuseoSansCyrl500Italic.woff") format("woff");
}
@font-face {
	font-family: 'Museosanscyrl700';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/MuseoSansCyrl700.eot"),
	url("../font/MuseoSansCyrl700.ttf") format("truetype"),
	url("../font/MuseoSansCyrl700.svg") format("svg"),
	url("../font/MuseoSansCyrl700.eot") format("embedded-opentype"),
	url("../font/MuseoSansCyrl700.woff2") format("woff2"),
	url("../font/MuseoSansCyrl700.woff") format("woff");
}
@font-face {
	font-family: 'Museosanscyrl700italic';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/MuseoSansCyrl700Italic.eot"),
	url("../font/MuseoSansCyrl700Italic.ttf") format("truetype"),
	url("../font/MuseoSansCyrl700Italic.svg") format("svg"),
	url("../font/MuseoSansCyrl700Italic.eot") format("embedded-opentype"),
	url("../font/MuseoSansCyrl700Italic.woff2") format("woff2"),
	url("../font/MuseoSansCyrl700Italic.woff") format("woff");
}
